.rtable {
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  vertical-align: top;
  white-space: nowrap;
}

.rtable th {
  background-color: #f2f0e6;
  font-size: 11px;
  text-align: left;
}

.rtable th , .rtable td {
  border: 1px solid #d9d7ce;
  padding: 6px 12px;
}

body {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 25px;
}

table td:first-child {
  background-color: rgb(78, 78, 78);
}

table td:first-child , table th:first-child {
  left: 0;
  position: sticky;
}
